ul
    li
        a(href='/rectorhome') Home
    li
        a(href='/studentreg') Student Registration
    li
        a(href='/studentdetails') Student Details
    li
        a(href='/hosteldetails') Hostel Details
    li
        a(href='/complaint') Complaints
    li
        a(href='/attendance') Attendance
    li
        a(href='/leave') Night Out
    li
        a(href='/noticeupdate') Notice
        
        
        style="display:flex;align-item:center;justify-content:center";