extends layout

block content
  link(rel="stylesheet", href="stylesheets/rectorlogin.css")
  .header-block
    a(href="/")
      span
        img(src="stylesheets/svg/arrow_back-24px.svg", alt="", srcset="")
        | Back
    h1 HOSTEL MANAGEMENT 
  .loginbox
    form(action='auth' method='post' autocomplete='off')
      h2 Rector Login
      .form-group
        label(for='username') Username
        div
          input(type='text' class="form-control" name='username' placeholder='Enter Username' required='')
      .form-group
        label(for='password') Password
        div
          input(type='password' class="form-control" name='password' placeholder='Enter Password' required='')
      button(type='submit' class="btn btn-primary") Submit
